---
const { title, url } = Astro.props;
---

<div class="p-2">
  <div
  class="hover:-translate-y-1 hover:shadow-sm hover:shadow-white duration-150 p-5 bg-slate-700"
>
  <a href={url}>
    <p>
      {title}
    </p>
  </a>
</div>
</div>
