---
const { title, url } = Astro.props;
---

<div class="p-2">
  <div
  class="hover:border-blue-500 p-5 hover:border-2 bg-white"
>
  <a href={url}>
    <p>
      {title}
    </p>
  </a>
</div>
</div>
