---
const navstyle: string = "hover:text-slate-200 hover:text-slate-200";
---

<div class="rounded-lg p-2 bg-slate-800 font-black w-80 mx-auto">
  <div class="flex justify-evenly">
    <a class={navstyle} href="/">Home</a>
    <a class={navstyle} href="/about">About</a>
    <a class={navstyle} href="/blog">Blog</a>
  </div>
</div>
